<div class="container container-content">
  <div class="row">
    <div class="col-xs-12">
      <h1>Новости</h1>

      <%= will_paginate @entries %>

      <table class="table">
        <thead>
          <tr>
            <th>Лента</th>
            <th>Заголовок</th>
            <th>Опубликовано</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @entries.each do |entry| %>
            <tr>
              <td><%= entry.feed %></td>
              <td><%= entry.title %></td>
              <td><%= entry.published_at %></td>
              <td><%= link_to 'Показать', entry %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= will_paginate @entries %>
    </div>
  </div>
</div>
