<div class="container container-signin">
  <div class="row">
    <div class="col-xs-12 col-md-offset-3 col-md-6">
      <h2 class="header-signin">Войти</h2>

      <%= form_for(resource, as: resource_name,
                             url: session_path(resource_name)) do |f| %>
        <fieldset class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </fieldset>

        <fieldset class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </fieldset>

        <% if devise_mapping.rememberable? %>
          <div class="checkbox">
            <%= f.label :remember_me do %>
              <%= f.check_box :remember_me %>Запомнить меня
            <% end %>
          </div>
        <% end %>

        <%= f.submit "Войти", class: 'btn btn-primary' %>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
