<div class="container container-content">
  <div class="row">
    <div class="col-xs-12">
      <p>
        <strong>Лента:</strong>
        <%= @entry.feed.title %>
      </p>

      <p>
        <strong>Заголовок:</strong>
        <%= @entry.title %>
      </p>

      <p>
        <strong>Адрес:</strong>
        <%= @entry.link %>
      </p>

      <p>
        <strong>Текст:</strong>
        <%= @entry.content %>
      </p>

      <p>
        <strong>Опубликовано:</strong>
        <%= @entry.published_at %>
      </p>

      <div class="form-footer-links">
        <%= link_to 'Редактировать', edit_admin_entry_path(@entry) %> |
        <%= link_to 'Назад', admin_entries_path %>
      </div>
    </div>
  </div>
</div>
